<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component 
      service="solidday2.ICreditCard, solidday2"
      type="solidday2.MasterCard, solidday2"
      scope="transient" />
      
    <component 
      service="solidday2.Shopper, solidday2"
      type="solidday2.Shopper, solidday2"
      scope="singleton" />
  </components>
</configuration>